    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(../photo/pareve-christmas-1598x900.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #wrapper {
        width: 96%;
        max-width: 960px;
        margin: 5% auto;
        padding: 0;
    }
    
    header {
        text-align: center;
        color: #EBCBAD;
        padding: 0;
    }
    
    header h1 {
        font-family: 'Charm', cursive;
        font-size: 100px;
        padding: 0;
        margin: 0;
        text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    }
    
    header h2 {
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        padding: 0;
        margin: 0;
        text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    }
    
    .titleh1 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 0 30px 0;
        padding: 20px;
        background: crimson;
        color: #fff;
    }
    
    hr {
        opacity: 0.2;
        margin: 30px 0;
    }
    
    p {
        color: crimson;
    }
    
    .mute {
        top: 30px;
        left: 30px;
        position: fixed;
    }
    /* form  ------------------------------- */
    
    .box {
        background: #fff;
        padding: 30px;
        width: 400px;
        margin: 0 auto 90px auto;
        box-shadow: 12px 15px 17px rgba(0, 0, 0, 0.5);
    }
    
    .box1 {
        background: #fff;
        padding: 0;
        width: 460px;
        margin: 0 auto;
        box-shadow: 12px 15px 17px rgba(0, 0, 0, 0.5);
    }
    
    .box1 ul {
        margin: 0;
        padding: 0;
    }
    
    .box1 li {
        list-style-type: none;
        text-align: center;
    }
    
    .group {
        position: relative;
        margin-bottom: 45px;
    }
    
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 180px;
        float: left;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #757575;
    }
    
    input:focus {
        outline: none;
    }
    
    button:focus {
        outline: none;
    }
    
    #name {
        width: 100%;
    }
    
    #mail {
        width: 100%;
    }
    
    #min {
        float: left;
        height: 60xp;
        margin-left: 10px;
        font-size: 20px;
    }
    
    .bttn {
        color: #fff;
        background: #212716;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 10px;
    }
    
    .bttn:hover {
        color: #212716;
        background: #fff;
        border: 1px solid #212716;
    }
    
    .bttn1 {
        color: #fff;
        background: #212716;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px;
        width: 100%;
    }
    
    .bttn1:hover {
        color: #212716;
        background: #fff;
        border: 1px solid #212716;
    }
    
    .bttnwish {
        color: #fff;
        background: crimson;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 10px;
    }
    
    .bttnwish:hover {
        color: crimson;
        background: #fff;
        border: 1px solid crimson;
    }
    
    .bttnwish1 {
        color: #fff;
        background: crimson;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        border: none;
    }
    
    .bttnwish1:hover {
        color: crimson;
        background: #fff;
        border: 1px solid crimson;
    }
    
    .bttnwish2 {
        color: #fff;
        background: crimson;
        padding: 20px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        border: none;
    }
    
    .bttnwish2:hover {
        color: crimson;
        background: #fff;
        border: none;
    }
    
    .wishlistbox {
        margin: 50px 0 0 0;
    }
    
    .fullwidth {
        width: 100%;
    }
    
    .width80 {
        width: 85%;
    }
    
    #emailContainer {
        display: none;
    }
    
    #addGroup {
        display: none;
    }
    
    #wishlist {
        display: none;
    }
    
    .wrapper {
        width: 96%;
        max-width: 960px;
        margin: 5% auto;
        padding: 0;
        margin-bottom: 1vh;
    }
    
    header {
        text-align: center;
        color: #EBCBAD;
        padding: 0;
    }
    
    header h1 {
        font-family: 'Charm', cursive;
        font-size: 100px;
        padding: 0;
        margin: 0;
        text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    }
    
    header h2 {
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        padding: 0;
        margin: 0;
        text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    }
    
    .titleh1 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 0 30px 0;
        padding: 20px;
        background: crimson;
        color: #fff;
    }
    
    hr {
        opacity: 0.2;
        margin: 30px 0;
    }
    
    p {
        color: crimson;
    }
    /* form  ------------------------------- */
    
    .box1 {
        background: #fff;
        padding: 0;
        width: 460px;
        margin: 0 auto;
        box-shadow: 12px 15px 17px rgba(0, 0, 0, 0.5);
    }
    
    .box1 ul {
        margin: 0;
        padding: 0;
    }
    
    .box1 li {
        list-style-type: none;
        text-align: center;
    }
    
    .group {
        position: relative;
        margin-bottom: 45px;
    }
    
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 180px;
        float: left;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #757575;
    }
    
    input:focus {
        outline: none;
    }
    
    button:focus {
        outline: none;
    }
    
    #name {
        width: 100%;
    }
    
    #mail {
        width: 100%;
    }
    
    #min {
        float: left;
        height: 60xp;
        margin-left: 10px;
        font-size: 20px;
    }
    
    .bttn {
        color: #fff;
        background: #212716;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 10px;
    }
    
    .bttn:hover {
        color: #212716;
        background: #fff;
        border: 1px solid #212716;
    }
    
    .bttn1 {
        color: #fff;
        background: #212716;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px;
        width: 100%;
    }
    
    .bttn1:hover {
        color: #212716;
        background: #fff;
        border: 1px solid #212716;
    }
    
    .bttnwish {
        color: #fff;
        background: crimson;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 10px;
    }
    
    .bttnwish:hover {
        color: crimson;
        background: #fff;
        border: 1px solid crimson;
    }
    
    .bttnwish1 {
        color: #fff;
        background: crimson;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        border: none;
    }
    
    .bttnwish1:hover {
        color: crimson;
        background: #fff;
        border: 1px solid crimson;
    }
    
    .bttnwish2 {
        color: #fff;
        background: crimson;
        padding: 20px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        border: none;
    }
    
    .bttnwish2:hover {
        color: crimson;
        background: #fff;
        border: none;
    }
    
    .wishlistbox {
        margin: 50px 0 0 0;
    }
    
    .fullwidth {
        width: 100%;
    }
    
    .width80 {
        width: 85%;
    }
    
    #emailContainer,
    #raffleContainer,
    #raffleEmailContainer,
    #addGroup,
    #wishlist,
    #doneButton {
        display: none;
    }
    
    #mte {
        margin: 1%;
        top: 0%;
    }